.gitignore

src/slapt-src
src/*.o
**/*swp

po/*.gmo
po/POTFILES

aclocal.m4
configure
depcomp
install-sh
missing
aclocal.m4
autom4te.cache
config.*
**/stamp-*
src/.deps
**/Makefile
**/Makefile.in*
m4
